.envrc
ai/ai.cabal
ai/data.json
ai/stack.yaml.lock
ai/.stack-work
assets-gen
cardgen/.gradle
cardgen/.idea
cardgen/build
fonts/fontbm-0.2.1
fonts/FontBuilder
help
oryx
screenshots
scripts/.stack-work
scripts/scripts.cabal
scripts/stack.yaml.lock
state.sqlite
zzbot

# vim
*.swo
*.swp

*.iml
*.hprof
*.log
