.envrc
ai/ai.cabal
ai/stack.yaml.lock
ai/.stack-work
assets-gen
cardgen/.gradle
cardgen/.idea
cardgen/build
fonts/fontbm-0.2.1
fonts/FontBuilder
help
oryx
screenshots
state.sqlite
zzbot

# vim
*.swo
*.swp

*.iml
*.hprof
*.log
